#excludeSelect .highlightOption{
    background-color: red;
}

#excludeSelect .option:hover{
    background-color: red;
}

#includeSelect .highlightOption{
    background-color: teal;
}

#includeSelect .option:hover{
    background-color: teal;
}